<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>{% block title '' %} - My Silex Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ app.request.basepath }}/css/vendor.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h3>Demo with Angular JS</h3>
            {% block content %}{% endblock %}
        </div>
        <script src="{{ app.request.basepath }}/js/vendor.js"></script>
        <script src="{{ app.request.basepath }}/js/app.js"></script>
    </body>
</html>
