<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ app.request.basepath }}/css/vendor.css" rel="stylesheet" type="text/css" />
        <script src="{{ app.request.basepath }}/js/app_react.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Demo with React JS</h3>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
